<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../redux-store/redux-store.html">

<link rel="import" href="./userCard.html">

<dom-module id="admin-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      h1{
          border-bottom: 2px solid #f1f1f1;
      }
    </style>
    <h1>Admin View</h1>
    List of added Users are [[usersCount]]
    <dom-repeat items="{{users}}">
      <template>
        <user-card>
            <span slot="usrname"> [[item.name]]</span>
            <span slot="usroccupation"> [[item.department]]</span>
          </user-card>
      </template>
    </dom-repeat>

  </template>

  <script>
    class AdminView extends ReduxMixin(Polymer.Element) {
      static get is() { return 'admin-view'; }
      static get properties(){
          return {
              users:{
                  type:Array,
                  statePath:'users'
              },
              usersCount:{
                  type:Number,
                  computed : 'computefriendsCount(users)'
              }
          }
      }
      computefriendsCount(users){
        return users.length;
      }
      connectedCallback(){
        super.connectedCallback();
        console.log(this.users,'Friends initial value');
      }
    }

    window.customElements.define(AdminView.is, AdminView);
  </script>
</dom-module>