<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../redux-store/redux-store.html">

<dom-module id="admin-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <h1>Admin View</h1>
        list of added friends are [[usersCount]], and [[users]]
      </div>
  </template>

  <script>
    class AdminView extends ReduxMixin(Polymer.Element) {
      static get is() { return 'admin-view'; }
      static get properties(){
          return {
              users:{
                  type:Array,
                  statePath:'users'
              },
              usersCount:{
                  type:Number,
                  computed : 'computefriendsCount(users)'
              }
          }
      }
      computefriendsCount(users){
        return users.length;
      }
      connectedCallback(){
        super.connectedCallback();
        console.log(this.friends,'Friends initial value');
      }
    }

    window.customElements.define(AdminView.is, AdminView);
  </script>
</dom-module>
<!--
,
              friendsCount:{
                  type:Number,
                  computed: (friends)=>friends.length
              }-->