<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="home-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      h1{
          border-bottom: 2px solid #f1f1f1;
      }
    </style>

    <div class="card">
      <h1>Home View</h1>
      <p>This page is the landing page of the application and also a default route !!!</p>
    </div>
  </template>

  <script>
    class HomeView extends Polymer.Element {
      static get is() { return 'home-view'; }
    }

    window.customElements.define(HomeView.is, HomeView);
  </script>
</dom-module>
