<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../redux-store/redux-store.html">

<script src="../../node_modules/redux/dist/redux.js"></script>

<dom-module id="users-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <div class="card">
      <h1>Users View [[users]]</h1>
      Enter New User
      <input type="text" id="nwUser" placeholder="Enter Users Name" on-change="updateList">
      </div>
  </template>

  <script>
    class UsersView extends ReduxMixin(Polymer.Element) {
      static get is() { return 'users-view';}
      static get properties(){
          return{
            users:{
              type:Array,
              statePath:'users'
            },
            message:{
                type:String,
                statePath:'message'
            }
          }
      }
      static get observers() {
        return [
        // Observer method name, followed by a list of dependencies, in parenthesis
        'userListChanged(users)'
        ]
      }
      updateList(){
          //console.log('Input changed');
          let newAddition = this.$.nwUser.value;
          this.dispatch({type:'ADD_USER',
          newValue: newAddition});
      }
      userListChanged(changedMessage){
        //console.log(changedMessage, " Message changed property");
      }
    }

    window.customElements.define(UsersView.is, UsersView);
  </script>
</dom-module>